@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  background-color: #f8f9fa;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}


/* HEADER */
header{
  background-color: #3b5110;
  padding: 20px;
  color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

ul,li{
  display: flex;
  margin-left: 38px;
  margin-right: 25px;
}

#margin-top{
  margin-top: 12px;
}

a{
  color: #ffffff;
  text-decoration: none;
}

#border{
  text-align: center;
  border: 1px solid #212e08;
  border-radius: 3px;
  padding: 10px;
}


/* MAIN */

section{
  background-color: #ffffff;
  margin-top: 10%;
}

.introduction{
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  background-color: #f8f9fa;
}

h1,p{
  padding: 18px;
  text-align: center;
}

.textos{
  width: 42%;
  margin-top: 30px;
  padding: 10px;
  align-items: center;
  align-self: center;
}

h1{
  margin-top: 16%;
  font-size: 35px;
}
 
#paragrafo{
  font-weight: 400;
  color:#495057;
  font-size: 16px;
}

#botton{
  background-color: #3b5110;
  border: 1px solid #212e08;
  text-align: center;
  max-width: 25%;
  border-radius: 3px;
  padding: 14px;
  margin-left: 36%;
  
}

.img_principal{
  display: flex;
  max-width: 62%;
  height: 100%;
  margin-top: 25px;
  margin-left: 19%;
  border-radius: 5px;
}

h2{
  text-align: center;
  color: #000000;
  padding: 7%;
  font-size: 30px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.container-information{
  display: flex;
  flex-wrap: wrap;
  width: 21%;
  margin-bottom: 6%;
  
}

.information{
  display: grid;
  border: 0.1px solid #adb5bd;
  padding: 35px 35px 35px 35px;
  margin: 0%;
  text-align: left;
}

h3{
  align-items: center;
  margin-bottom: 15px;
}

.topic{
  color: #495057;
  margin-left: 0%;
}