*, ul, li, a{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body{
  background-color: white;
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
}
section{
  display: flex;
  flex-direction: column;
  width: 12%;
  height: 100vh;
}
.menu_nav_left{
  background-color: #0883e7;
  gap: 20px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_top_bar img{
  width: 15%;
  padding: 5% 5%;
  gap: 20px;
  cursor: pointer;
}

.logo img{
  width: 45%;
}
.menu_itens{
  margin-top: 2%;
}
.menu_texto{
  display: flex;
  width: 90%;
  padding: 10% 5% 5%;
  gap: 20px;
  align-items: center;  
}
.logout{
  display: flex;
  margin-top: auto; /* Move o item para o final da seção */
  padding: 10% 5%;
  gap: 20px;
  align-items: center;  
}